body {
  --dsw-static-neutral-00: #ffffff;
  --dsw-static-neutral-50: #f7f5f2;
  --dsw-static-neutral-100: #f7f5f2;
  --dsw-static-neutral-150: #e7e5e4;
  --dsw-static-neutral-200: #e7e5e4;
  --dsw-static-neutral-250: #d6d3d1;
  --dsw-static-neutral-300: #d6d3d1;
  --dsw-static-neutral-400: #a8a29e;
  --dsw-static-neutral-500: #78716c;
  --dsw-static-neutral-550: #78716c;
  --dsw-static-neutral-600: #57534e;
  --dsw-static-neutral-700: #44403c;
  --dsw-static-neutral-800: #292524;
  --dsw-static-neutral-850: #1c1917;
  --dsw-static-neutral-900: #1c1917;
  --dsw-static-neutral-1000: #1c1917;
  --dsw-static-neutral-bluish-00: #f7f5f2;
  --dsw-static-neutral-bluish-50: #ffffff;
  --dsw-static-neutral-bluish-60: #f7f5f2;
  --dsw-static-neutral-bluish-75: #f0eeea;
  --dsw-static-neutral-bluish-100: #e7e5e4;
  --dsw-static-neutral-bluish-150: #e7e5e4;
  --dsw-static-neutral-bluish-200: #d6d3d1;
  --dsw-static-neutral-bluish-300: #a8a29e;
  --dsw-static-neutral-bluish-400: #a8a29e;
  --dsw-static-neutral-bluish-500: #78716c;
  --dsw-static-neutral-bluish-600: #78716c;
  --dsw-static-neutral-bluish-700: #57534e;
  --dsw-static-neutral-bluish-750: #44403c;
  --dsw-static-neutral-bluish-800: #292524;
  --dsw-static-neutral-bluish-850: #1c1917;
  --dsw-static-neutral-bluish-875: #1c1917;
  --dsw-static-neutral-bluish-900: #1c1917;
  --dsw-static-neutral-bluish-950: #1c1917;
  --dsw-static-neutral-bluish-1000: #1c1917;
  --dsw-static-deepseek-50: #f7f5f2;
  --dsw-static-deepseek-100: #e7e5e4;
  --dsw-static-deepseek-200: #e7e5e4;
  --dsw-static-deepseek-300: #a8a29e;
  --dsw-static-deepseek-400: #78716c;
  --dsw-static-deepseek-450: #57534e;
  --dsw-static-deepseek-500: #1c1917;
  --dsw-static-deepseek-600: #1c1917;
  --dsw-static-deepseek-700-delete: #1c1917;
  --dsw-static-deepseek-800: #292524;
  --dsw-static-deepseek-900: #1c1917;
}

body[data-ds-dark-theme] {
  --dsw-static-neutral-00: #e7e5e4;
  --dsw-static-neutral-50: #292524;
  --dsw-static-neutral-100: #292524;
  --dsw-static-neutral-150: #44403c;
  --dsw-static-neutral-200: #44403c;
  --dsw-static-neutral-250: #44403c;
  --dsw-static-neutral-300: #57534e;
  --dsw-static-neutral-400: #a8a29e;
  --dsw-static-neutral-500: #a8a29e;
  --dsw-static-neutral-550: #78716c;
  --dsw-static-neutral-600: #78716c;
  --dsw-static-neutral-700: #44403c;
  --dsw-static-neutral-800: #292524;
  --dsw-static-neutral-850: #292524;
  --dsw-static-neutral-900: #1c1917;
  --dsw-static-neutral-1000: #e7e5e4;
  --dsw-static-neutral-bluish-00: #e7e5e4;
  --dsw-static-neutral-bluish-50: #e7e5e4;
  --dsw-static-neutral-bluish-60: #292524;
  --dsw-static-neutral-bluish-75: #292524;
  --dsw-static-neutral-bluish-100: #44403c;
  --dsw-static-neutral-bluish-150: #44403c;
  --dsw-static-neutral-bluish-200: #57534e;
  --dsw-static-neutral-bluish-300: #a8a29e;
  --dsw-static-neutral-bluish-400: #a8a29e;
  --dsw-static-neutral-bluish-500: #78716c;
  --dsw-static-neutral-bluish-600: #a8a29e;
  --dsw-static-neutral-bluish-700: #57534e;
  --dsw-static-neutral-bluish-750: #44403c;
  --dsw-static-neutral-bluish-800: #44403c;
  --dsw-static-neutral-bluish-850: #292524;
  --dsw-static-neutral-bluish-875: #292524;
  --dsw-static-neutral-bluish-900: #1c1917;
  --dsw-static-neutral-bluish-950: #1c1917;
  --dsw-static-neutral-bluish-1000: #1c1917;
  --dsw-static-deepseek-50: #292524;
  --dsw-static-deepseek-100: #44403c;
  --dsw-static-deepseek-200: #44403c;
  --dsw-static-deepseek-300: #78716c;
  --dsw-static-deepseek-400: #e7e5e4;
  --dsw-static-deepseek-450: #e7e5e4;
  --dsw-static-deepseek-500: #a8a29e;
  --dsw-static-deepseek-600: #a8a29e;
  --dsw-static-deepseek-700-delete: #1c1917;
  --dsw-static-deepseek-800: #292524;
  --dsw-static-deepseek-900: #1c1917;
}
